<!-- Header with Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg  shadow-sm banner-col">
	<div class="container">
		<a class="navbar-brand" href="#">
			NexGenHub
		</a>
		<!-- Toggle button for mobile view -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
			</ul>

			<button routerLink="/signup" class="btn btn-primary ms-lg-3" type="button">signup</button>

			<!-- Optional Login Button -->
			<button routerLink="/login" class="btn btn-primary ms-lg-3" type="button">Login</button>
		</div>
	</div>
</nav>