html, body {
	/* height: 50%; */
	margin: 0;
  }
  
  #page-container {
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
  }
  
  #content-wrap {
	flex: 1;
  }
  
  footer {
	background-color: #343a40;
	color: white;
	/* padding: 20px 0; */
  }
  