<div class="container mt-4">
	<h3>Admin Service Approval Requests</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Business Id</th>
					<th>Business Name</th>
					<th>Region</th>
					<th>Service</th>
					<th>Mobile Number</th>
					<th>Email</th>
					<th>Proof</th>
					<th>Logo</th>
					<th>Approve</th>
					<th>Reject</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let request of approvalRequests">
					<td>{{request.id}}</td>
					<td>{{ request.businessName }}</td>
					<td>{{ request.businessRegion }}</td>
					<td>{{ request.serviceName }}</td>
					<td>{{ request.businessMobileNumber }}</td>
					<td>{{ request.businessEmail }}</td>
					<td><a [href]="request.businessProofUrl" target="_blank">View Proof</a></td>
					<td><img [src]="request.businessLogoUrl" alt="Logo" width="50" height="50"></td>
					<td><button (click)="approveRequest(request)" class="button">Approve</button></td>
					<td><button (click)="approveRequest(request)" class="button">Reject</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
